@charset "utf-8";
/* CSS Document */
body {
	background-image: url(../images/blackwood.jpg);
	background-color: #000;
}
img {
	margin-left:auto;
	margin-right: auto;
	width: 1000px;
	height: 762px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin:-381px 0 0 -500px;
	border:2px solid;
	border-radius:25px;}
#wrapper {
	margin-left:auto;
	margin-right: auto;
	width: 1000px;
	height: 762px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin:-381px 0 0 -500px;}
h1 {
	font-family: Cookie, Helvetica, sans-serif;
	font-size: 450%;
	color: white;
	position: relative;
	text-align: center;
	top: 335px }
#credit {
	font-family: Lato, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color:white;
	position: relative;
	text-align: right;
	top: 550px;
	padding-right: 50px; }
#portfolio {
	font-family: Lato, Arial, Helvetica, sans-serif;
	font-size: 120%;
	color:white;
	position: relative;
	text-align: left;
	top: 550px;
	padding-right: 50px; 
	float: left;}
a:link {
	color: white; }
a:visited {
	color: #993399; }
a:hover {
	color: #CC33CC; }
	
	
